.DS_Store
**/.DS_Store

# Ignore the extracted markdown files
resumes_extracted_md/*.md
resumes_extracted_txt/*.txt

candidate_map.json

# Ignore the original PDF resumes @ PROD
# resumes/*.pdf

candidate_map.db
__pycache__/
*.pyc


